@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1651069153104') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang:before {
  content: "\f02aa";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-gouwuche:before {
  content: "\e61b";
  font-size: 18px;
}

.icon-sousuo:before {
  content: "\e658";
  font-size: 25px;
}

.icon-fanhuidingbu:before {
  content: "\e70b";
}

.icon-businessman:before {
  content: "\e608";
}

.icon-geek:before {
  content: "\e617";
}

.icon-keai:before {
  content: "\e616";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-keai1:before {
  content: "\e66e";
}

.icon-shangxiazhankai:before {
  content: "\eb13";
}

.icon-keai2:before {
  content: "\e6c4";
}

.icon-ziyuan:before {
  content: "\e614";
}

