* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    top: 0;
}

a {
    text-decoration: none;
}

.head {
    width: 100%;
    height: 36px;
    background-color: black;
}

.center {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    /* background-color:pink; */
    margin: 0 auto;
}

.head-left {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 472px;
    align-items: center;

    line-height: 36px;
}

.head-left li {
    list-style: none;

}

.head-left li a {
    text-decoration: none;
    color: rgb(223, 217, 217);
    font-size: 12px;
    line-height: 1;
    border-right: 1px solid rgb(74, 73, 73);
    padding-right: 6px;
}

.head-right {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;

}

.head-right li {
    list-style: none;

}

.head-right li a {
    text-decoration: none;
    color: rgb(223, 217, 217);
    font-size: 12px;
    line-height: 1;
    border-right: 1px solid rgb(74, 73, 73);
    padding-right: 6px;
}

.head-2 {
    width: 100%;
    height: 74px;
    background-color: #fff;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 12;
}

.head-2-center {
    width: 1200px;
    margin: 0 auto;
    /* background-color: aqua; */
}

.head-2-center ul {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

.head-2-center ul li {
    list-style: none;
    line-height: 74px;
    margin-right: 35px;
}
.head-2-center ul li:nth-child(1) {
    list-style: none;
    width: 103px;
    height: 74px;
}
.head-2-center ul li a>img{
    width: 103px;
    height: 74px;
}

.head-2-center ul li a {
    text-decoration: none;
    color: #000;
}

/* banner */
.banner ul ol {
    list-style: none;
}

.banner ul li {
    list-style: none;
}

.banner ol li {
    list-style: none;
    width: 10px;
    height: 10px;
    background: rgb(101, 100, 100);
    margin-left: 5px;
    float: left;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.banner {
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: relative;
}

.banner ul li {
    height: 500px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: opacity 1.5s;
}

.banner ul li.ac {
    z-index: 5;
    opacity: 1;
    width: 100%;
}

.banner ol {
    position: absolute;
    right: 45%;
    bottom: 10%;
    z-index: 6;
}

.banner ol li.ac {
    background: rgb(255, 255, 255);
    color: #fff;
}

.banner>a {
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    height: 40px;
    line-height: 32px;
    text-align: center;
    width: 40px;
    font-size: 40px;
    vertical-align: middle;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    z-index: 6;
}

#banner-left {
    left: 30%;
}

#banner-right {
    right: 20%;
}

.banner ul li a img {
    width: 100%;
    /* height: 550px; */
}

.caidan {
    width: 100%;
    height: 550px;
}

.caidan-center {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

.caidankuang {
    width: 200px;
    height: 496px;
    background: rgb(231, 232, 233);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    padding-top: 5px;
}

.caidankuang .caidankuang_s {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
}

.caidankuang .caidankuang_s ._can {
    width: 162px;
    height: 40px;
    background: rgb(231, 232, 233);

}

.caidankuang .caidankuang_s ._can>a {
    text-decoration: none;
    color: rgb(69, 68, 68);
    font-size: 13px;
    margin-left: 10px;
}

.caidankuang .caidankuang_s>a {
    text-decoration: none;
    color: rgb(69, 68, 68);
    font-size: 13px;
}

.caidankuang .caidankuang_s ._can_y {
    width: 36px;
    height: 40px;
    background: rgb(231, 232, 233);
    flex: 1;
}

.caidankuang .caidankuang_s ._can_y>a {
    text-decoration: none;
    color: rgb(69, 68, 68);
    margin-left: 15px;
}

.yincang {
    width: 470px;
    height: 496px;
    background: rgb(231, 232, 233);
    position: absolute;
    z-index: 12;
    top: 0;
    left: 200px;
    display: none;
    padding-bottom: 5px;
}

.yincang .yincang_1 {
    width: 214px;
    height: 72px;
    background: sandybrown;
    margin-bottom: 23px;
}

.yincang .yincang_1>a {
    text-decoration: none;
}

.yincang .chakan {
    position: absolute;
    z-index: 12;
    top: 0;
    right: 0;
    border-radius: 70px;
    width: 150px;
    height: 70px;
    background: rgb(188, 183, 194);
    text-align: center;
    line-height: 70px;
}

.yincang .chakan>a {
    text-decoration: none;
    color: rgb(69, 68, 68);
}

.caidankuang_s:hover .yincang {
    display: block;
}

.caidankuang_s:hover ._can {
    background: #fff;
    cursor: pointer;
}

.caidankuang_s:hover ._can_y {
    background: #fff;
}

.four {
    width: 100%;
    height: 95px;
    padding-bottom: 24px;
    padding-top: 24px;
    background: rgb(241, 243, 245);
}
.four-center {
    width: 1200px;
    height: 95px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   text-align: center;
}
.four-center .four-center-1 {
    width: 200px;
    height: 95px;
    text-align: center;
}
.four-center .four-center-2 {
    width: 200px;
    height: 95px;
    color: #000;
    background-color: rgb(183, 230, 40);
}.four-center .four-center-1>a>p{
    color: #000;
}
.four-center .four-center-1>a>img{
    width: 48px;
    height: 48px;
    margin-top: 10px;
}
.four-center .four-center-1>a{
    width: 200px;
    height: 95px;
    display: block;
    text-decoration: none;
}
.five {
    background: rgb(241, 243, 245);
    width: 100%;
    height: 194px;
}
.five-center {
    width: 1200px;
    height: 194px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.five-center-S {
    width: 291px;
    height: 194px;
    background: seagreen;
    transition: all 0.6s;
    
}
.five-center-S>a{
    width: 291px;
    height: 194px;
    display: block;
}.five-center-S>a>img{
    width: 291px;
    height: 194px;
}
.five-center-S:hover{
    box-shadow: darkgrey 0px 0px 10px 5px;
}
._fx {
    width: 100%;
    height: 24px;
    background: rgb(241, 243, 245);
}
._ms {
    width: 100%;
    background: rgb(241, 243, 245);
}
._ms_1{
    width: 1200px;
    height: 64px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
}
._ms_1>a:nth-child(1) {
    font-size: 26px;
    color: rgb(26, 26, 26);
    font-weight: 400;
    line-height: 64px;
    float: left;
}
._ms_1>a:nth-child(2){
    font-size: 14px;
    color: rgb(148, 146, 146);
    float: right;
    line-height: 64px;
}
.six {
    width: 100%;
    background: rgb(241, 243, 245);
}
.six-center {
    width: 1200px;
    height: 306px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}
.six-center-S {
    width: 230px;
    height: 306px;
    background: #fff;
    transition: all 0.6s;
    
}
.six-center-S>a>p{
    color:rgb(0, 0, 0);
    margin-top: 20px;
}
.six-center-S:hover{
    box-shadow: darkgrey 0px 0px 10px 5px;
}
.six-center_t:hover{
    box-shadow: darkgrey 0px 0px 10px 5px;
}
.six-center_t {
    transition: all 0.6s;
    width: 230px;
    height: 306px;
    background: salmon;
    float: left;
    text-align: center;
}
#icon-naozhong{
    font-size: 40px;
}
.daojishi{
    text-align: center;
    width: 200px;
    height: 50px;
    margin-top:20px;
    margin-left: 12px;
}
.daojishi .xs,.fz,.mz{
    width:40px;
    height: 40px;;
    background: rgb(123, 117, 117);
    margin-left: 10px;
    float: left;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
}
.daojishi .mz{
    width:40px;
    height: 40px;;
    background: rgb(123, 117, 117);
    margin-left: 10px;
    float: left;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
}
.daojishi .fz{
    width:40px;
    height: 40px;;
    background: rgb(123, 117, 117);
    margin-left: 10px;
    float: left;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
}
.daojishi ._dian{
    float: left;
    height: 40px;
    width: 10px;
    line-height: 40px;
    margin-left: 10px;
}
.six-center_t>p{
    font-size: 18px;
    color: rgb(116, 115, 115);
    font-weight: 200;
    margin-top:10px;
}
.daojishi-2{
    width: 500px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.daojishi-2 .xs,.fz,.mz{
    width:35px;
    height: 35px;;
    background: rgb(192, 41, 41);
    /* margin-left: 10px; */
    line-height: 35px;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.daojishi-2 ._dian{
    float: left;
    margin-left: 5px;
    line-height: 35px;
    height: 35px;
}
._ms_1>a:nth-child(3){
    text-decoration: none;
    font-size: 16px;
    float: right;
    line-height: 64px ;
    color: rgb(116, 115, 115);
}
.seven{
    width: 100%;
    background: rgb(241, 243, 245);
}
.seven-center{
    height: 306.5px;
    width: 1200px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
    display: flex;
    justify-content: space-between;
}
.seven-s>a>p{
    margin-top: 15px;
}
.seven-s>a{
    display: block;
    width: 230px;
    height: 306.5px;
    color: #000;
}
.seven-s>a>img{
    width: 177.2px;
    height: 154.63px;
    margin-top: 30px;
}
.six-center-S>a>img{
    width: 142px;
    height: 142px;
    margin-top: 30px;
}
.six-center-S>a{
    width: 230px;
    height: 306px;
    display: block;
    text-align: center;
}
.seven-s{
    text-align: center;
    width: 230px;
    height: 306.5px;
    background: #fff;
    transition: all 0.6s;
}
.seven-s:hover{
    box-shadow: darkgrey 0px 0px 10px 5px;
}
.eight{
    width: 100%;
    background: rgb(241, 243, 245);
}
.eight-center{
    height: 636px;
    width: 1212px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
    display: flex;
    /* flex-direction: column; */
    flex-wrap:wrap;
    align-content:space-between;
    justify-content: space-between;
}
.eight-center .eight-s_1>a>img{
    width: 472px;
    height: 306px;
    display: block;
}
.eight-center .eight-s_1>a{
    width: 472px;
    height: 306px;
    color: #000;
}
.eight-s>a{
    display: block;
    text-align: center;
    width: 230px;
    height: 305px;
    color: #000;
}
.eight-s>a .sjm{
    margin-top: 20px;
}
.eight-s>a .ms{
    margin-top: 10px;
}
.eight-s>a .pc{
    margin-top: 25px;
}
.eight-s>a>img{
    width: 142.59px;
    height: 142.48px;
    margin-top: 20px;
    /* display: block; */
}
.eight-s{
    text-align: center;
    width: 230px;
    height: 305px;
    background: #fff;
    transition: all 0.6s;
}
.eight-s_1{
width: 472px;
height: 306px;
background: lawngreen;
}
.eight-s:hover{
    box-shadow: darkgrey 0px 0px 10px 5px;
}
.diergelunbo{
    width: 100%;
    height: 120px;
    background: rgb(241, 243, 245);
}
.diergelunbo-center{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.diergelunbo-center ul li a img{
    width: 1200px;
    height: 120px;
}
.diergelunbo-center ul{
    list-style: none;
}
.diergelunbo-center ul li{
    list-style: none;
}
.diergelunbo-center ol li {
    list-style: none;
    width: 10px;
    height: 10px;
    background: rgb(101, 100, 100);
    margin-left: 5px;
    float: left;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
.diergelunbo-center ul li {
    height: 500px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: opacity 1.5s;
}
.diergelunbo-center ol li{
    list-style: none;
}
.diergelunbo-center>a {
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    height: 40px;
    line-height: 32px;
    text-align: center;
    width: 40px;
    font-size: 40px;
    vertical-align: middle;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    z-index: 6;
}
.diergelunbo-center ol {
    position: absolute;
    right: 45%;
    bottom: 10%;
    z-index: 6;
}
#banner-left2 {
    left: 30%;
    display: none;
}

#banner-right2 {
    right: 20%;
    display: none;
}
.diergelunbo-center ol li.ac {
    background: rgb(255, 255, 255);
    color: #fff;
}
.diergelunbo-center ul li.ac {
    z-index: 5;
    opacity: 1;
    width: 100%;
}
._ms-2 {
    width: 100%;
    background: rgb(241, 243, 245);
}
._ms_1-2{
    width: 1200px;
    height: 64px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
}
._ms_1-2>a{
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-weight: 400;
    line-height: 64px;
    margin-right: 19px;

}
._ms_1-2>a:nth-child(1){
    font-size: 28px;
    margin-right: 16px;
    color: rgb(26, 26, 26);
}
._ms_1-2>a:nth-child(9){
    font-size:16px;
    float: right;
    color: rgb(116, 115, 115);
}
.nnn{
    width: 100%;
    height: 786px;
    background: rgb(241, 243, 245);
}
.nnn_center{
    width: 1200px;
    height: 786px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
    display: flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content: space-between;
}
.n_1>a{
    width: 291px;
    height: 387px;
    display: block;
    color: #000;
}
.n_1>a>img{
    width: 180.41px;
   height:  192.97px;
   margin-top: 35px;
}
.n_1>a .n_1mc{
    margin-top: 20px;
}
.n_1>a .n_1pc{
    margin-top: 40px;
}
.n_1>a .n_1pc_1{
    margin-top: 30px;
    color: rgb(211, 46, 46);
}
.n_1>a .n_1zs{
    margin-top: 20px;
}.n_1>a .n_1zs_1{
    margin-top: 10px;
}
.n_1>a .n_1ms{
    margin-top: 3px;
}
.n_1{
    text-align: center;
    width: 291px;
    height: 387px;
    background:#fff;
    transition: all 0.6s;
}
.n_1:hover{
    box-shadow: darkgrey 0px 0px 10px 5px;
}
.nnn_center>.n_1>a>.n_1zs_1{
    display: inline;
}


.nnn_1{
    width: 100%;
    height: 786px;
    background: rgb(241, 243, 245);
}
.nnn_center_1{
    width: 1200px;
    height: 786px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
    display: flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content: space-between;
}
.n_1_1>a{
    width: 291px;
    height: 387px;
    display: block;
    color: #000;
}
.n_1_1>a>img{
    width: 180.41px;
   height:  192.97px;
   margin-top: 35px;
}
.n_1_1>a .n_1mc{
    margin-top: 20px;
}
.n_1_1>a .n_1pc{
    margin-top: 40px;
}
.n_1_1>a .n_1pc_1{
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(189, 13, 4);
}
.n_1_1>a .n_1zs{
    margin-top: 20px;
}.n_1_1>a .n_1zs_1{
    margin-top: 10px;
}
.n_1_1>a .n_1ms{
    margin-top: 10px;
    color: rgb(189, 13, 4);
}
.n_1_1{
    text-align: center;
    width: 291px;
    height: 387px;
    background:#fff;
    transition: all 0.6s;
}
.n_1_1:hover{
    box-shadow: darkgrey 0px 0px 10px 5px;
}
.nnn_center_1>.n_1_1>a>.n_1zs_1{
    display: inline;
}


.nnn_2{
    width: 100%;
    height: 786px;
    background: rgb(241, 243, 245);
}
.nnn_center_2{
    width: 1200px;
    height: 786px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
    display: flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content: space-between;
}
.n_1_2>a{
    width: 291px;
    height: 387px;
    display: block;
    color: #000;
}
.n_1_2>a>img{
    width: 180.41px;
   height:  192.97px;
   margin-top: 35px;
}
.n_1_2>a .n_1mc{
    margin-top: 20px;
}
.n_1_2>a .n_1pc{
    margin-top: 40px;
}
.n_1_2>a .n_1pc_1{
    margin-top: 15px;
    margin-bottom: 10px;
}
.n_1_2>a .n_1zs{
    margin-top: 20px;
}.n_1_2>a .n_1zs_1{
    margin-top: 10px;
}
.n_1_2>a .n_1ms{
    margin-top: 10px;
}
.n_1_2{
    text-align: center;
    width: 291px;
    height: 387px;
    background:#fff;
    transition: all 0.6s;
}
.n_1_2:hover{
    box-shadow: darkgrey 0px 0px 10px 5px;
}
.nnn_center_2>.n_1_2>a>.n_1zs_1{
    display: inline;
}


.nnn_5{
    width: 100%;
    height: 786px;
    background: rgb(241, 243, 245);
}
.nnn_center_5{
    width: 1200px;
    height: 786px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
    display: flex;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content: space-between;
}
.n_1_5>a{
    width: 291px;
    height: 387px;
    display: block;
    color: #000;
}
.n_1_5>a>img{
    width: 180.41px;
   height:  192.97px;
   margin-top: 35px;
}
.n_1_5>a .n_1mc{
    margin-top: 20px;
}
.n_1_5>a .n_1pc{
    margin-top: 40px;
}
.n_1_5>a .n_1pc_1{
    margin-top: 30px;
}
.n_1_5>a .n_1zs{
    margin-top: 20px;
}.n_1_5>a .n_1zs_1{
    margin-top: 10px;
}
.n_1_5>a .n_1ms{
    margin-top: 3px;
}
.n_1_5{
    text-align: center;
    width: 291px;
    height: 387px;
    background:#fff;
    transition: all 0.6s;
}
.n_1_5:hover{
    box-shadow: darkgrey 0px 0px 10px 5px;
}
.nnn_center_5>.n_1_5>a>.n_1zs_1{
    display: inline;
}

._ms-2-1 {
    width: 100%;
    background: rgb(241, 243, 245);
}
._ms_1-2-1{
    transition: all 0.6s;
    width: 1200px;
    height: 64px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
}
._ms_1-2-1>a{
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-weight: 400;
    line-height: 64px;
    margin-right: 19px;

}
._ms_1-2-1>a:nth-child(1){
    font-size: 28px;
    margin-right: 16px;
    color: rgb(26, 26, 26);
}
._ms_1-2-1>a:nth-child(6){
    font-size:16px;
    float: right;
    color: rgb(116, 115, 115);
}
._ms-2_st {
    width: 100%;
    background: rgb(241, 243, 245);
}
._ms_1-2_st{
    width: 1200px;
    height: 64px;
    margin: 0 auto;
    background: rgb(241, 243, 245);
}
._ms_1-2_st>a{
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-weight: 400;
    line-height: 64px;
    margin-right: 19px;

}
._ms_1-2_st>a:nth-child(1){
    font-size: 28px;
    margin-right: 16px;
    color: rgb(26, 26, 26);
}
._ms_1-2_st>a:nth-child(10){
    font-size:16px;
    float: right;
    color: rgb(116, 115, 115);
}
.fx_2{
    height: 40px;
    width: 100%;
    background: rgb(241, 243, 245);
}
.ten{
    display: flex;
    align-items: center;
    text-align: center;
    width: 1200px;
    height: 84px;
    /* background: rgb(241, 243, 245); */
    margin: 0 auto;
    border-bottom: 1px solid rgb(212, 211, 211);
}
.ten_1{
    width: 300px;
    height: 36px;
    line-height: 36px;
    /* background: skyblue; */
}
.ten11{
    width: 1200px;
    height: 311px;
    margin:  0  auto;
    /* background: rebeccapurple; */
    overflow: hidden;
    border-bottom: 1px solid rgb(212, 211, 211);

}
.ten11_1{
    float: left;
    width:159px;
    height:213px;
    /* background: salmon; */
    margin-top: 56px;
    /* padding-bottom: 41px; */
}
.gwzn{
    margin-bottom: 32px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #000;
}
.ten11_1>a{
    display: block;
    line-height: 27px;
    text-decoration: none;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}
.ten11_1>a:hover{
    color: rgba(255, 0, 0, 0.811);
}
.ybdw{
    position: fixed;
    right: 16px;
    bottom: 32px;
    width: 80px;
    border-radius: 10px;
    z-index: 9999;
    background-color:rgb(229, 227, 227) ;
    border: 1px solid rgb(167, 166, 166);
    
}.ybdw .box1>a{
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-size: 14px;
}
.ybdw .box2>a{
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-size: 14px;
}
.ybdw .box3>a{
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-size: 14px;
}
.ybdw .box4>a{
    text-decoration: none;
    color: rgb(116, 115, 115);
    font-size: 14px;
    
}
.ybdw ul{
    list-style: none;
}
.ybdw .box1,.box2,.box3,.box4{
    list-style: none;
    height:56px ;
    width: 80px;
    text-align: center;
    line-height: 56px;
    border-top: 1px solid rgb(167, 166, 166);
}